@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{font-family: 'Roboto', sans-serif;}

body {
    margin: 0px;
}

.header {
    position: fixed;
    display: flex;
    background-color:  whitesmoke;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10%;
    z-index: 1;
    border-bottom: 5px solid rgb(190, 0, 0);
}

.header .container {
    padding-left: 1%;
    padding-right: 2%;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.header .container img {
    width: 110px;
    height: 60px;
}

.container .navbar {
    display: flex;
    width: 1000px;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container .opcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    min-width: 450px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px; 
}

.opcao{
    display: inline-block;
    transition: transform 0.5s ease;
    text-decoration: none;
    color: black;
}

.container .botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 220px;
    min-width: 220px;
}

.botoes button {
    width: 100px;
    height: 30px;
    border: 2px solid;
    border-radius: 5px;
    color:  black;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: transform 0.5s ease;
}

.botoes button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.espaco-dashboard {
    background-image: url('imagens/fundosite.png');
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.espaco-dashboard .graficos {
    margin-top: 5%;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.espaco-dashboard .graficos .titulo {
    display: flex;
    height: 11%;
    width: 99.4%;
    border-radius: 5px;
    margin-bottom: 0.1%;
    margin-inline: 0.3%;
}

.espaco-dashboard .graficos .titulo .tituloGrafico1 {
    background-color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    height: 100%;
    width: 59.9%;
    margin-right: 0.3%;
    border-radius: 5px;
}

.espaco-dashboard .graficos .titulo .tituloGrafico2 {
    background-color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    height: 100%;
    width: 40%;
    border-radius: 5px;
}

.espaco-dashboard .graficos .linha {
    display: flex;
    margin-inline: 0.3%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.espaco-dashboard .graficos .linha .barras {
    background-color: whitesmoke;
    border: solid darkred 3px;
    border-radius: 5px;
    margin-right: 2px;
    height: 250px;
    width: 60%;
}

.espaco-dashboard .graficos .linha .pizza {
    background-color: whitesmoke;
    border: solid darkred 3px;
    border-radius: 5px;
    height: 250px;
    width: 40%;
}

.espaco-dashboard .kpis {
    margin-top: 5%;
    height: 89%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.espaco-dashboard .kpis .usuario{
    width: 100%;
    height: 7.15%;
    margin-bottom: 0.5%;
    border-radius: 5px;
    background-color: darkred;
    border: solid darkred 3px;
    display: flex;
}

.espaco-dashboard .kpis .usuario .nomeUsuario {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: whitesmoke;
}

.espaco-dashboard .kpis .usuario .dado {
    background-color: whitesmoke;
    width: 17%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.espaco-dashboard .kpis .usuario .dado img {
    height: 55%;
    width: 100%;

}

.espaco-dashboard .kpis .classe{
    width: 100%;
    height: 35.9%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkred;
    margin-bottom: 19%;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    border: solid darkred 3px;
}

.espaco-dashboard .kpis .classe .imagemClasse {
    width: 46%;
    height: 55%;
    border-radius: 5px;
    background-color: white;
}

.espaco-dashboard .kpis .classe .imagemClasse img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}



.espaco-dashboard .kpis .raca {
    width: 100%;
    height: 35.9%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkred;
    margin-bottom: 19%;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    border: solid darkred 3px;
}

.espaco-dashboard .kpis .raca .imagemRaca {
    width: 46%;
    height: 55%;
    border-radius: 5px;
    background-color: white;
}

.espaco-dashboard .kpis .raca .imagemRaca img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}